{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% block content %}

<body class="text-center">
    <h1>Can we predict the salary offered based on the job description?</h1>
    <p class="subtitle">Let's try... </p>
    <div class="container">
        <form method="POST" class="form" style="color:white">

            {{ form.hidden_tag() }}

            {{ form.description.label() }}
            {{ form.description(class="form-control form-description", placeholder="job description") }}

            <br />
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>

{% endblock %}